body {
    background-image: url("../assets/greenery-water.jpg");
    background-size: 100vmax 100vh;
    background-repeat: no-repeat;
}

.branding-container {
    position: relative;
}

.initial-logo {
    position: absolute;
    left: -20px;
    top: -20px;
}

.top-nav {
    margin: auto;
    overflow: auto;
}

.top-nav a {
    float: right;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: whitesmoke;
}

.top-nav a:hover, .active {
    border: 3px solid whitesmoke;
    line-height: 1px;
}

.active-word {
    color: whitesmoke;
}

.word-spinner-container {
    position: relative;
    text-align: center;
    margin-top: 40vh;
}

.word-spinner-container a {
    padding: 8px 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
    color: whitesmoke;
}

.word-spinner-container a:hover {
    background-color: black;
}

.two-tabs-active {
    border: 3px solid whitesmoke;
}

.two-tabs a {
    margin: auto;
    overflow: auto;
}

.footer-container {
    margin: auto;
    width: 50vw;
    position: absolute;
    bottom: 0;
}

footer {
    width: 100%;
    position: relative;
    color: whitesmoke;
    text-align: center;
    margin-left: 50%;
}

footer a {
    color:orange;
    text-decoration: none;
}

