<header class="landing-page-header">
    <div class="branding-container">
        <a href="https://github.com/walimorris" target="_blank">
            <img class="initial-logo" src="assets/logo.png" alt="logo with initials">
        </a>
    </div>
    <nav class="top-nav" id="landing-page-nav">
        <a href="index.html" class="active">Contact</a>
        <a href="https://github.com/walimorris" target="_blank">Github</a>
        <a href="resume.html">Resume</a>
        <a href="about.html">About</a>
        <a href="#">Portfolio</a>
        <a href="index.html">Home</a>
    </nav>
</header>